{% extends 'base.html' %}

{% block content %}
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .box {
            background-color: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
    </style>

    <div class="container">
        <div class="box">
            <h1>Copiar indicadores</h1>
            <p>Avaliação: {{ avaliacao.nome }}</p>
            <p>Inscrição: {{ avaliacao.inscricao }}</p>
            <p>Data de criação: {{ avaliacao.data_criacao }}</p>

           <h3>
                <a href="{% url 'avaliacoes:excluir_avaliacao' avaliacao.id %}" onclick="return confirm('Tem certeza que deseja cancelar a criação desta avaliação?')">Cancelar criação</a>
           </h3>
           <h3>
                <a href="{% url 'avaliacoes:criar_indicador' avaliacao.id %}">Vá direto para a criação de novos indicadores</a>
           </h3>

           <h2>Copiar indicadores de outra avaliação</h2>
           <ul>
               {% for outra_avaliacao in avaliacoes %}
                   <li>
                       {{ outra_avaliacao.nome }}
                       <form action="{% url 'avaliacoes:copiar_indicadores' outra_avaliacao.id %}" method="post">
                           {% csrf_token %}
                           <input type="hidden" name="avaliacao_criada_id" value="{{ avaliacao.id }}">
                           <button type="submit">Copiar indicadores</button>
                       </form>
                   </li>
               {% endfor %}
           </ul>
       </div>
   </div>
{% endblock %}