{% extends 'base.html' %}

{% block content %}
    <h1>Criar indicadores</h1>
    <h2>{{ avaliacao.nome }}</h2>
    <a href="{% url 'avaliacoes:editar_avaliacao' avaliacao.id %}">Editar avaliação</a>

    <!-- Formulário para criar um novo indicador -->
    <h3>Novo indicador</h3>
    <form action="{% url 'avaliacoes:criar_indicador' avaliacao.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar Indicador</button>
    </form>

    <!-- Sessões de indicadores por dimensão -->
    {% for dimensao, indicadores in indicadores_por_dimensao.items %}
        <h3>{{ dimensao }}</h3>
        {% for indicador in indicadores %}
            <div>
                <form action="{% url 'avaliacoes:editar_indicador' indicador.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="text" name="nome" value="{{ indicador.nome }}">
                    <button type="submit">Salvar</button>
                </form>
                <form action="{% url 'avaliacoes:excluir_indicador' indicador.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Excluir</button>
                </form>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
