{% extends 'base.html' %}

{% block content %}
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .box {
            background-color: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .form-group label {
            flex-basis: 30%;
            margin-right: 10px;
        }

        .form-group input,
        .form-group select {
            flex-basis: 70%;
        }

        .form-group input[type="submit"] {
            margin-left: auto;
        }
    </style>

    <div class="container">
        <div class="box">
            <h1>Editar avaliação</h1>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit">Salvar</button>
            </form>
        </div>

        <div class="box">
            <h2>Indicadores</h2>
            <a href="{% url 'avaliacoes:criar_indicador' avaliacao.id %}">
                <button>Editar Indicadores</button>
            </a>
            {% for dimensao, indicadores in indicadores_por_dimensao.items %}
                <h3>{{ dimensao }}</h3>
                {% for indicador in indicadores %}
                    <p>{{ indicador.nome }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <form action="{% url 'avaliacoes:excluir_avaliacao' avaliacao.id %}" method="post" onsubmit="return confirm('Tem certeza que deseja excluir esta avaliação?')">
        {% csrf_token %}
        <button type="submit">Excluir tudo</button>
    </form>
{% endblock %}
