{% extends 'base.html' %}

{% block content %}
    <style>
        .lista-btn-azul {
            display: inline-block;
            background-image: linear-gradient(to bottom right, #3461eb, #5ec4bf);
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            margin-bottom: 10px;
            width: 200px;
            text-align: center;
        }
    </style>
    <h1>Avaliadores</h1>
    <ul>
        {% for avaliador in avaliadores %}
            <li><a class="lista-btn-azul" href="{% url 'contas:detalhes_usuario' avaliador.pk %}">{{ avaliador.name }}</a></li>
        {% empty %}
            <li>Nenhum avaliador encontrado.</li>
        {% endfor %}
    </ul>
{% endblock %}
